{% extends 'base.html' %}

{% block content %}
<div class="row">
    <div class="sixteen columns">
        <p>Slider</p>
    </div>
</div>
<div class="row">
    <div class="eight columns">
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum dignissim dolor quis placerat pharetra. Vestibulum lorem lorem, mattis eu pretium et, pharetra non nisl. Phasellus risus justo, rutrum hendrerit tincidunt sit amet, tempus ut eros. In dapibus lacinia nibh, aliquam facilisis lorem. Fusce eleifend velit eget faucibus ultrices. Sed congue sollicitudin ultrices. Nulla in viverra elit, eget faucibus orci. Phasellus vel viverra mi, vel ultrices sapien. Fusce non ultrices metus, quis aliquet ante. Sed pellentesque interdum odio sed laoreet. Curabitur suscipit facilisis ultricies. Ut sollicitudin libero eget quam mollis imperdiet.</p>
    </div>
    <div class="four columns">
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum dignissim dolor quis placerat pharetra. Vestibulum lorem lorem, mattis eu pretium et, pharetra non nisl. Phasellus risus justo, rutrum hendrerit tincidunt sit amet, tempus ut eros. In dapibus lacinia nibh, aliquam facilisis lorem. Fusce eleifend velit eget faucibus ultrices. Sed congue sollicitudin ultrices. Nulla in viverra elit, eget faucibus orci. Phasellus vel viverra mi, vel ultrices sapien. Fusce non ultrices metus, quis aliquet ante. Sed pellentesque interdum odio sed laoreet. Curabitur suscipit facilisis ultricies. Ut sollicitudin libero eget quam mollis imperdiet.</p>
    </div>
</div>
{% endblock %}
